# coding: utf-8

"""
    OQTOPUS Cloud User API

    OQTOPUS Cloud User API. This API is used to interact with the OQTOPUS Cloud service. The API provides endpoints to manage devices, jobs, and results.  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: oqtopus-team[at]googlegroups.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from quri_parts_oqtopus.rest.api_client import ApiClient


class AnnouncementsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_announcement(self, announcement_id, **kwargs):  # noqa: E501
        """Get selected announcement  # noqa: E501

        Get selected announcement  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_announcement(announcement_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int announcement_id: announcement ID (required)
        :return: AnnouncementsGetAnnouncementResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_announcement_with_http_info(announcement_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_announcement_with_http_info(announcement_id, **kwargs)  # noqa: E501
            return data

    def get_announcement_with_http_info(self, announcement_id, **kwargs):  # noqa: E501
        """Get selected announcement  # noqa: E501

        Get selected announcement  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_announcement_with_http_info(announcement_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int announcement_id: announcement ID (required)
        :return: AnnouncementsGetAnnouncementResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['announcement_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_announcement" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'announcement_id' is set
        if ('announcement_id' not in params or
                params['announcement_id'] is None):
            raise ValueError("Missing the required parameter `announcement_id` when calling `get_announcement`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'announcement_id' in params:
            path_params['announcement_id'] = params['announcement_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/announcements/{announcement_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnnouncementsGetAnnouncementResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_announcements_list(self, **kwargs):  # noqa: E501
        """Get announcements list from backend  # noqa: E501

        Get announcements list from backend  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_announcements_list(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str offset: offset information
        :param str limit: Limit information
        :param str order: Specify order according to start time
        :param datetime current_time: Allows to filter the list of announcements to fetch by provided time. If specified only announcements with start_time <= current_time and end_time >= current_time are returned.
        :return: AnnouncementsGetAnnouncementsListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_announcements_list_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_announcements_list_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_announcements_list_with_http_info(self, **kwargs):  # noqa: E501
        """Get announcements list from backend  # noqa: E501

        Get announcements list from backend  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_announcements_list_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str offset: offset information
        :param str limit: Limit information
        :param str order: Specify order according to start time
        :param datetime current_time: Allows to filter the list of announcements to fetch by provided time. If specified only announcements with start_time <= current_time and end_time >= current_time are returned.
        :return: AnnouncementsGetAnnouncementsListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['offset', 'limit', 'order', 'current_time']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_announcements_list" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'current_time' in params:
            query_params.append(('current_time', params['current_time']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/announcements', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnnouncementsGetAnnouncementsListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
